<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Museum</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
</head>
<body>
   <!-- <p th:text="'Hello, ' + ${name} + '!'" /> --> 
   Hello Bootstrap!
</body>
</html>